html{
    height:100%;
    background-color: black;
}

body
{
    width: 50%;
    height: 100%;
    display: flex;
    margin: 0;
    font-family: Garamond;
    background-color: #B2C7D9;
    flex-direction: column;
    align-content: center;
    margin-left: 25%;
}
h1
{
    background-color: #B2C7D9;
    height: 10%;
color: black;
margin-bottom: 0;
margin-top: 0;
text-align: center;
font-size: 53px;
}
h3
{
color: black;
font-size: 20px;
margin-top: 3px;
text-align: center;
}
svg{
background-color: white;
}
#all{
    height: 80%;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
}
#chatbox
{

margin-left: auto;
margin-right: auto;
width: 80%;
margin-top: 60px;
}
#userInput {
    width: 100%;
    display: flex;
    justify-content: center;
}
#textInput {
    padding-left: 20px;
    width: 100%;
    border: none;
    font-family: monospace;
    font-size: 20px;
    height: 100px;
}
#buttonInput {
    border-color: #fed8c1;
    margin-top: 13px;
    /* padding: 3px; */
    font-family: monospace;
    font-size: 20px;
    position: absolute;
    right: 27%;
    /* margin-left: 41%; */
    border-radius: 3px;
    height: 40px;
    background-color: #FFEC42;
}
.userText {
color: black;
font-family: monospace;
font-size: 20px;
text-align: right;
line-height: 30px;
}
.userText span {
background-color: #FFEB33;
padding: 10px;
border-radius: 5px;
box-shadow: 1px 1px 1px gray;
}
.botText {
color: black;
font-family: monospace;
font-size: 20px;
text-align: left;
line-height: 30px;
}
.botText span {
background-color: #ffffff;
padding: 10px;
border-radius: 5px;
box-shadow: 1px 1px 1px gray;
}
#tidbit {
position:absolute;
bottom:0;
right:0;
width: 300px;
}
footer {
    bottom: 0;
    width: 100%;
}