<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_98ccd5ed74624a908443c0995b58abe8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_98ccd5ed74624a908443c0995b58abe8" ></div>
        
</body>
<script>    
    
            var map_98ccd5ed74624a908443c0995b58abe8 = L.map(
                "map_98ccd5ed74624a908443c0995b58abe8",
                {
                    center: [36.62675563, 127.4965159],
                    crs: L.CRS.EPSG3857,
                    zoom: 7,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5f73e5e05bbf42699c03f2d36b7cc91f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_98ccd5ed74624a908443c0995b58abe8);
        
    
            var marker_e37c742299fe45c1b791042ce4134622 = L.marker(
                [37.5557776885486, 126.985070087077],
                {"color": "#3186cc", "fill": true, "fillColor": "#3186cc", "radius": 10}
            ).addTo(map_98ccd5ed74624a908443c0995b58abe8);
        
    
            marker_e37c742299fe45c1b791042ce4134622.bindTooltip(
                `<div>
                     <b>서울 날씨<b> : 맑음 상태.<br /><b>현재 기온</b> : 7℃
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2fffd86ab1444872b76a73ad9063ac5f = L.marker(
                [37.9621401000847, 124.657579803005],
                {"color": "#3186cc", "fill": true, "fillColor": "#3186cc", "radius": 10}
            ).addTo(map_98ccd5ed74624a908443c0995b58abe8);
        
    
            marker_2fffd86ab1444872b76a73ad9063ac5f.bindTooltip(
                `<div>
                     <b>백령도 날씨<b> : 흐림 상태.<br /><b>현재 기온</b> : 6℃
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_10fdfa71abd04cde86b62ffc7cffeeaf = L.marker(
                [37.8913193660305, 127.735243066563],
                {"color": "#3186cc", "fill": true, "fillColor": "#3186cc", "radius": 10}
            ).addTo(map_98ccd5ed74624a908443c0995b58abe8);
        
    
            marker_10fdfa71abd04cde86b62ffc7cffeeaf.bindTooltip(
                `<div>
                     <b>춘천 날씨<b> : 맑음 상태.<br /><b>현재 기온</b> : 6℃
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f70e2e50f6b64ac9aec91d96a32b3abe = L.marker(
                [37.7249865587184, 128.859629245075],
                {"color": "#3186cc", "fill": true, "fillColor": "#3186cc", "radius": 10}
            ).addTo(map_98ccd5ed74624a908443c0995b58abe8);
        
    
            marker_f70e2e50f6b64ac9aec91d96a32b3abe.bindTooltip(
                `<div>
                     <b>강릉 날씨<b> : 맑음 상태.<br /><b>현재 기온</b> : 8℃
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_52a8ac3b88e24c9d836f95125b244d67 = L.marker(
                [36.6267556309948, 127.496515899621],
                {"color": "#3186cc", "fill": true, "fillColor": "#3186cc", "radius": 10}
            ).addTo(map_98ccd5ed74624a908443c0995b58abe8);
        
    
            marker_52a8ac3b88e24c9d836f95125b244d67.bindTooltip(
                `<div>
                     <b>청주 날씨<b> : 맑음 상태.<br /><b>현재 기온</b> : 8℃
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f73eab2213724216afae5c328e3b94a0 = L.marker(
                [36.3806654031377, 127.41984913426],
                {"color": "#3186cc", "fill": true, "fillColor": "#3186cc", "radius": 10}
            ).addTo(map_98ccd5ed74624a908443c0995b58abe8);
        
    
            marker_f73eab2213724216afae5c328e3b94a0.bindTooltip(
                `<div>
                     <b>대전 날씨<b> : 맑음 상태.<br /><b>현재 기온</b> : 8℃
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_409ab3fdb3eb4394abe156f3ae654c16 = L.marker(
                [35.8638923944849, 128.574044241117],
                {"color": "#3186cc", "fill": true, "fillColor": "#3186cc", "radius": 10}
            ).addTo(map_98ccd5ed74624a908443c0995b58abe8);
        
    
            marker_409ab3fdb3eb4394abe156f3ae654c16.bindTooltip(
                `<div>
                     <b>대구 날씨<b> : 맑음 상태.<br /><b>현재 기온</b> : 9℃
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e26a21901f4a4e989946984f64177bf2 = L.marker(
                [35.2015657945284, 129.058064836969],
                {"color": "#3186cc", "fill": true, "fillColor": "#3186cc", "radius": 10}
            ).addTo(map_98ccd5ed74624a908443c0995b58abe8);
        
    
            marker_e26a21901f4a4e989946984f64177bf2.bindTooltip(
                `<div>
                     <b>부산 날씨<b> : 맑음 상태.<br /><b>현재 기온</b> : 10℃
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e4584417e4ec41cbb3054b9b7109c393 = L.marker(
                [37.4899660054861, 130.93944212844],
                {"color": "#3186cc", "fill": true, "fillColor": "#3186cc", "radius": 10}
            ).addTo(map_98ccd5ed74624a908443c0995b58abe8);
        
    
            marker_e4584417e4ec41cbb3054b9b7109c393.bindTooltip(
                `<div>
                     <b>울릉도 날씨<b> : 구름많음 상태.<br /><b>현재 기온</b> : 6℃
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e2bd6af084384c63b64ad40ed4277f6d = L.marker(
                [35.8309974443219, 127.142023264096],
                {"color": "#3186cc", "fill": true, "fillColor": "#3186cc", "radius": 10}
            ).addTo(map_98ccd5ed74624a908443c0995b58abe8);
        
    
            marker_e2bd6af084384c63b64ad40ed4277f6d.bindTooltip(
                `<div>
                     <b>전주 날씨<b> : 맑음 상태.<br /><b>현재 기온</b> : 8℃
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_43afd5bbb8944f24b127321cfb96b2fb = L.marker(
                [35.206603946237, 126.866098962607],
                {"color": "#3186cc", "fill": true, "fillColor": "#3186cc", "radius": 10}
            ).addTo(map_98ccd5ed74624a908443c0995b58abe8);
        
    
            marker_43afd5bbb8944f24b127321cfb96b2fb.bindTooltip(
                `<div>
                     <b>광주 날씨<b> : 맑음 상태.<br /><b>현재 기온</b> : 11℃
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_21aa6ecaec8e4c85a9002c65bf2899f9 = L.marker(
                [33.4149082547921, 126.795593265549],
                {"color": "#3186cc", "fill": true, "fillColor": "#3186cc", "radius": 10}
            ).addTo(map_98ccd5ed74624a908443c0995b58abe8);
        
    
            marker_21aa6ecaec8e4c85a9002c65bf2899f9.bindTooltip(
                `<div>
                     <b>제주 날씨<b> : 맑음 상태.<br /><b>현재 기온</b> : 13℃
                 </div>`,
                {"sticky": true}
            );
        
</script>